* {
	padding: 0;
	margin: 0;

	overflow: hidden;
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}
main {
	width: 100%;
	height: 100vh;
	background: rgb(255, 255, 255);
}
.florcia {
	position: absolute;
	left: 15%;
	transform: translate(0, -50%);
	transition: all 0.2s linear;
	/* border: 2px solid red; */
	/* border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 80%; */
	user-zoom: fixed;
}

.kolumna {
	overflow: hidden;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	transition: all 0.1s linear;
	gap: 200px;
}
.kolumna > img {
	width: 200px;
	/* border: 1px solid black; */
	/* border-radius: 20%; */
	transform: scaleX(-1);
}
/* .kolumna > img:first-child {
	border-bottom-left-radius: 50%;
}
.kolumna > img:last-child {
	border-top-left-radius: 50%;
} */
.score {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 50px;
	color: red;
	font-family: 'Times New Roman', Times, serif;
}
